@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
    }
    
    h1 {
      font-family: 'SEGA LOGO FONT';
      background-color: rgba(3, 90, 68,0.75);
      font-weight: 200;
      color: #6fe6e2;
    }